.circleWrap {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
  transform: scale(0.7);
}

.mask .fill {
  clip: rect(0, 75px, 150px, 0);
  background-color: #0290ff;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

.circleWrap .circle .mask,
.circleWrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circlWrap .circle .mask {
  clip: rect(0, 150px, 150px, 75px);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(135deg);
  }
}

.circleWrap .insideCircle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #fff;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
  box-shadow: inset 1px 1px #ccc;
}
